.nav{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 10px;
}
.navItems{
    border: 2px solid #ccc;
    padding: 16px;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
}