.page{
    margin: 10px;
}
.main{
    
}
.title{
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 16px;
}
.description{
    font-size: 1.2rem;
    color: #666;

}
.codeBlock {
  background-color: lightgray;
  padding: 16px;
  border-radius: 4px;
  color:tomato;
}