.header{
    padding: 24px;
    font-family: var(--font-quantico);
    border-bottom: 3px solid #ccc;
}
.title{
    font-size: 2rem;
    color: #666;
}
.subtitle{
    font-size: 1.2rem;
    color: #666;
}